body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Russo One', sans-serif;
	font-style: italic;
	letter-spacing: -3px;
	text-shadow: -1px -1px 0 #000, 1px 1px 0 #ebebeb;
	color: #F66933;
}

h1 {
	font-size: 5em;
	letter-spacing: -3px;
}

h2 {
	font-size: 3em;
	letter-spacing: -2px;
	border-bottom: 2px solid #666;
	box-shadow: inset 0 -1px 0 #333, 0 1px 0 #4e4e4e;
}

h3 {
	font-size: 2em;
	letter-spacing: -1px;
	margin-top: 0.1em;
}

.vanilla-sky {
	background: #ffbc93;
	box-shadow: inset 0 100px 100px #b8d6d8;
	height: 13em;
	position: relative;
}
.sun {
	background: #ff4400;
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	position: absolute;
	top: 20%;
	left: -1%;
	opacity: 0.7;
	box-shadow: 0 -30px 200px #ff6633;
}

@keyframes bgscroll {
	from {background-position:0 0;}
	to {background-position: 500% 0;}
}

.clouds1 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../img/clouds_no_border.svg');
	background-size: 25%;
	opacity: 0.7;
	animation: bgscroll 500s infinite linear;
}
.clouds2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../img/clouds_no_border.svg');
	background-size: 50%;
	opacity: 0.5;
	animation: bgscroll 120s infinite linear;
}

.skyline {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../img/skyline_gray.svg') no-repeat center bottom;
	background-size: 100%;
}

.main-container {
	background: #555;
	color: #ebebeb;
	text-shadow: 1px 1px 0 #333;
	z-index: 1;
	position: relative;
}
.content-wrapper{
	margin: 0 3%;
}

.well {
	background: #efefef;
	box-shadow: -1px -1px 1px #333, 1px 1px 1px #ebebeb;
	color: #666;
	text-shadow: 0 1px #fff;
}

.well h3 {
	text-align: center;
}

.menu-wrapper {
	margin-top: 4vw;
	perspective: 50vw;
	height: 50vw;
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	width: 20%;
}
.menu {
	display: inline-block;
	transform-style: preserve-3d;
	transform: rotateY(-40deg);
	height: 1000px;
	background: #FF682D;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 1em;
	font-size: 1.5em;
	width: 100%;
}

.menu li {
	float: left;
	box-shadow: -1px -1px 1px #333, 1px 1px 1px #ebebeb;
	text-shadow: 1px 1px 1px #333;
	border-radius: 10px 10px;
	background-color: #768687;
	width: 45%;
	height: 10vh;
	transition: all 0.5s;
	margin: 0 4px 8px 4px;
}

.menu li.enabled {
	background: #98b3b5;
}

.menu li.enabled:hover {
	background-color: #ffffb5;
	box-shadow:  -1px -1px 1px #333, 0 0 20px #fff;
}

.menu a {
	color: #ebebeb;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
	text-decoration: none;
}

.menu-back {
	display: inline-block;
	position: absolute;
	top: 0.7vw;
	right: -13.7vw;
	transform-style: preserve-3d;
	transform: rotateY(50deg);
	background: #333;
	height: 1000px;
	width: 100%;
}

.circle-wrapper{
	position: relative;
	width: 90%;
	margin: 0 auto;
}
.profile-pic {
	margin: 0 0 15px 0;
	box-shadow: inset 0 0 200px #333;
}

.circle {
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 50%;
	box-shadow: inset 3px 1px 5px #333, 2px 1px 3px #dbdbdb;
	position: absolute;
	top: 0;
	left: 0;
}

footer {
	background: #333;
	color: #efefef;
	text-shadow: -1px -1px #000, 1px 1px #666;
}