<div class="row" ng-if="!event.children">
	<div class="col-sm-1">{{event.time}} Uhr</div>
	<div class="col-sm-8" >
		<div ng-bind-html="event.title | sanitize"></div>
		<div ng-bind-html="event.description | sanitize"></div>
	</div>
	<div class="col-sm-2">{{event.room}}</div>
	<div class="col-sm-1">
		<button class="btn btn-default" ng-click="toggleEventSelection(event)" >
			<span ng-if="eventIsSelected(event)">
				<span class="glyphicon glyphicon-check" title="aus Tagesplan entfernen"></span>
			</span>
			<span ng-if="!eventIsSelected(event)">
				<span class="glyphicon glyphicon-unchecked" title="zum Tagesplan hinzufügen"></span>
			</span>
		</button>
	</div>
</div>